<div class="page" [ngClass]="{'real' : currentToggle==true}" id="menu">
    <span class="menu_toggle" (click)="toggleMenu()">
        <i class="menu_open fa fa-bars fa-lg"></i>
    </span>
    <ul class="menu_items">
        <!-- <li><a id="profile-menu-item" href="#" class="hide"><i class="fas fa-user"></i>
                Profile</a></li> -->
        <li><a id="growth-menu-item" [routerLink]="['/growth']" class="hide"><i class="fas fa-seedling"></i> Growth</a></li>
        <!-- <li><a id="settings-menu-item" href="#" class="hide"><i class="fas fa-cog"></i>
                Settings</a></li> -->
        <li><a href="#" onclick="logout()"><i class="fas fa-power-off"></i> Sign-out</a></li>
    </ul>
    <main class="content">
        <div class="content_inner">
            <img src="assets/images/Gym Buddy LOGO-07.png" class="logo_UserP">
            <div class="section2">
                <div class="Headings">
                    <h2>Workouts</h2>
                    <div class="wrapper">
                        <a class="exerciseMain" routerLink="/workout" routerLinkActive="active">
                            <div class="header">
                                <h1>Chest Workout</h1>
                            </div>
                        </a>
                    </div>
                    <div class="iframe-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/hBQfOPfny7w" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="section2">

            </div>
        </div>
    </main>
</div>