<div class="section">
    <!--Image is also home button-->
    <img src="assets/images/Gym Buddy LOGO-07.png" alt="GymBuddy Logo" class="centerIMG" />
    <div class="center">
        <div class="button"> <a [routerLink]="['/auth/login']"><span>Login</span></a></div>
        <div class="moving-mouse-holder">
            <div class="mouse">
                <div class="mouse-button">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="Headings">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod. Fusce mattis
            iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed lacinia
            risus.
            Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. In luctus nisl sit amet efficitur
            lobortis. Donec pulvinar convallis nisi vel pretium. In cursus tincidunt diam, et aliquam lectus suscipit
            eget.
            Suspendisse potenti. Proin dolor turpis, vestibulum vitae tempor vitae, ullamcorper sit amet mi. Sed
            interdum
            quis eros sit amet laoreet. Vivamus euismod nisl arcu, ornare hendrerit tortor tincidunt in. Morbi id felis
            ac
            tellus ullamcorper scelerisque. Sed feugiat placerat malesuada. Nunc ullamcorper tempus scelerisque.
            Maecenas a sem ipsum. Praesent vulputate mi in nulla pretium pellentesque. Quisque a felis quam. Donec vel
            quam
            consequat ipsum hendrerit rutrum ut sit amet dolor.
            Suspendisse viverra ac elit ac vestibulum. Mauris nec quam sed tellus scelerisque hendrerit.</p>
    </div>
</div>
<div class="section2">
    <div class="Headings">
        <h2>Gym Life</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod. Fusce mattis
            iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed lacinia
            risus.
            Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. In luctus nisl sit amet efficitur
            lobortis. Donec pulvinar convallis nisi vel pretium. In cursus tincidunt diam, et aliquam lectus suscipit
            eget.
            Suspendisse potenti. Proin dolor turpis, vestibulum vitae tempor vitae, ullamcorper sit amet mi. Sed
            interdum
            quis eros sit amet laoreet. Vivamus euismod nisl arcu, ornare hendrerit tortor tincidunt in. Morbi id felis
            ac
            tellus ullamcorper scelerisque. Sed feugiat placerat malesuada. Nunc ullamcorper tempus scelerisque.
            Maecenas a sem ipsum. Praesent vulputate mi in nulla pretium pellentesque. Quisque a felis quam. Donec vel
            quam
            consequat ipsum hendrerit rutrum ut sit amet dolor.
            Suspendisse viverra ac elit ac vestibulum. Mauris nec quam sed tellus scelerisque hendrerit.</p>
    </div>
</div>
<!--------------------------------------------------------------------
						REVIEW SECTION
-------------------------------------------------------------------->
<div class="section2">
    <div class="Headings">
        <h2>Reviews</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod. Fusce mattis
            iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed lacinia
            risus.
            Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. In luctus nisl sit amet efficitur
            lobortis. Donec pulvinar convallis nisi vel pretium. In cursus tincidunt diam, et aliquam lectus suscipit
            eget.
            Suspendisse potenti. Proin dolor turpis, vestibulum vitae tempor vitae, ullamcorper sit amet mi. Sed
            interdum
            quis eros sit amet laoreet. Vivamus euismod nisl arcu, ornare hendrerit tortor tincidunt in. Morbi id felis
            ac
            tellus ullamcorper scelerisque. Sed feugiat placerat malesuada. Nunc ullamcorper tempus scelerisque.
            Maecenas a sem ipsum. Praesent vulputate mi in nulla pretium pellentesque. Quisque a felis quam. Donec vel
            quam
            consequat ipsum hendrerit rutrum ut sit amet dolor.
            Suspendisse viverra ac elit ac vestibulum. Mauris nec quam sed tellus scelerisque hendrerit.</p>
        <div class="container">
            <div class="ReviewCard">
                <div class="imgBOX"> <img src="assets/images/Profile/Dwayne-Johnson-in-gym-fitness-wallpaper.jpg">
                    <h3>The Rock</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod.
                        Fusce
                        mattis iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer sed
                        lacinia risus. Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. </p>
                </div>
            </div>
            <div class="ReviewCard">
                <div class="imgBOX"> <img src="assets/images/Profile/Fitness_Dumbbells_Model_Workout_572554_640x960.jpg">
                    <h3>Lisa</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod.
                        Fusce
                        mattis iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer sed
                        lacinia risus. Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. </p>
                </div>
            </div>
            <div class="ReviewCard">
                <div class="imgBOX"> <img
                        src="assets/images/Profile/37-371086_wallpapers-fitness-group-men-fitness-wallpaper-hd.jpg">
                    <h3>James</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus quis ipsum eu euismod.
                        Fusce
                        mattis iaculis arcu at elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Integer sed
                        lacinia risus. Suspendisse tempus sem eget sem scelerisque, id vestibulum quam pharetra. </p>
                </div>
            </div>
        </div>
    </div>
</div>